.ClearStrings {
  padding: 1.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  // margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;

  border: none;
  // @include coolGradientSecondary;
  background-color: $color-blue-medium;
  color: $color-white;

  @include buttonEffect;
}
