.ErrorMessage {
  display: flex;
  align-items: center;
  background-color: $color-red;
  margin: 0rem 4rem 2rem;
  padding: 2rem 6rem;
  color: $color-white;
  font-size: 2rem;

  &__icon {
    font-size: 3.2rem;
    flex: 0 1 15%;

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    flex: 1 1 auto;
    text-align: left;
  }
}
