.container {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  margin: 8rem auto;
  width: 80rem;
  min-height: 80vh;

  background: $color-white;
  box-shadow: 12px 12px 22px rgba(0, 0, 0, 0.2);

  @include respond(tablet) {
    width: 90%;
    margin: 4rem auto;
  }

  @include respond(phone) {
    width: 100%;
    margin: 0rem auto;
  }
}

.controls-container {
  padding: 2rem 0;
  flex: 0 1 auto;
}

.strings-container {
  padding: 2rem 0;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}
